<section class="section-form">
  <div class="container">
    <form action="">
        <div class="form-row justify-content-around">
          <div class="col-12 col-md-3 my-1 my-md-0">
            <input type="text" name="firstName" class="form-control" placeholder="First name: ">
          </div>
          <div class="col-12 col-md-3 my-1 my-md-0">
            <input type="text" name="lastName" class="form-control" placeholder="Last name: ">
          </div>
          <div class="col-12 col-md-3 my-1 my-md-0">
            <input type="text" name="participation" class="form-control" placeholder="Participation: ">
          </div>            
          <div class="col-12 col-md-2">
            <button class="btn btn-send btn-block">Send</button>
          </div>
        </div>
    </form>        
  </div>
</section>